<a href="https://colab.research.google.com/github/ajgquional/Coursera_IBM-Tools-for-Data-Science/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>
Data Science Tools and Ecosystem
</h1>

<h2>
    Author:
</h2>
Adrian Josele G. Quional

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

<ul>
    <li>List popular languages for Data Science.</li>
    <li>List commonly used libraries by Data Scientists.</li>
    <li>Practice evaluating arithmetic expressions in Python.</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>JavaScript</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>numpy</li>
    <li>pandas</li>
    <li>matplotlib</li>
</ol>

| Data Science Tools |
| -------------------|
| Jupyter Notebook   |
| JupyterLab         |
| Google Colab       |

<h3>
Below are a few examples of evaluating arithmetic expressions in Python:
</h3>

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

(3 * 4) + 5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

200 * (1 / 60)

3.3333333333333335